@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 900;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 20px;
}

#input-search {
    height: 30px;
    width:  80%;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}

#icon-search {
    margin: 0 10px;
}

#icon-notifications {
    align-self: start;
}

.profile-picture {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 5px 10px;
}

.header-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.icon {
    height: auto;
    width: 30px;
}

nav .nav-item {
    margin: 15px;
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
}

p {
    font-size: 1em;
    font-weight: 600;
}

span {
    font-size: 1.5em;
}

aside {
    background-color: lightgreen;
    grid-row: 1 / 3;
}

.aside-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.list-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.second-list {
    margin-top: 50px;
}

ul:last-child {
    margin-bottom: 0;
}

li {
    list-style-type: none;
    margin-left: 10px;
}

main {
    background-color: hsl(0, 0%, 85%);
}