@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 900;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

/* Header */

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 20px;
}

#input-search {
    height: 30px;
    width:  80%;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
}

#icon-search {
    margin: 0 10px;
}

.profile-picture {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 5px 10px;
}

.header-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.icon {
    height: auto;
    width: 30px;
}

nav .nav-item {
    margin: 15px;
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
}

p {
    padding-left: 10px;
    font-weight: 600;
}

.bigger-text {
    font-size: 1.5em;
}

/* Sidebar */

aside {
    background-color: lightgreen;
    grid-row: 1 / 3;
}

.aside-title {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.list-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.second-list {
    margin-top: 50px;
}

ul:last-child {
    margin-bottom: 0;
}

li {
    list-style-type: none;
    margin-left: 10px;
}

/* Main */

main {
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    grid-row: 1 / 3;
    padding: 0 10px;
}

main > * {
    display: flex;
    flex-direction: column;
    border: 1px solid salmon;
}

.projects-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects-item {
    height: 120px;
}

.announcements-container {
    height: 100%;
    border: 1px solid yellow;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(3fr, 60px));
}

.trending-container {
    height: 100%;
    border: 1px solid yellow;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(3fr, 45px));
}

.announcements-container > * {
    border: 1px solid blue;
}

.projects-container > * {
    border: 1px solid red;
}


.trending-container > * {
    border: 1px solid green;
}